body {
    font-family: 'Poppins', sans-serif;
    background:linear-gradient(45deg, rgba(11,10,41,1) 0%, rgba(20,20,128,1) 35%, rgba(13,14,25,1) 100%);
    background-repeat: no-repeat;
    }

.cabecalho {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
    color: #fff;
}

.cabecalho a {
    color: #fff;
}


.cabecalho .menu ul{
    display: flex;
    align-items: center;
    padding: 20px;
}

.cabecalho .menu ul li {
    margin-left: 25px;
    text-transform: uppercase;
}

.navegacao nav{
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(0,0,0,0.7), transparent);
    
}

.navegacao nav ul li{
    display: inline-block;   
}

.navegacao nav ul li a {
    padding: 5px 0;
    display: inline-block;
    margin: 15px 10px;
    color: #fff;
    border-bottom: 3px solid transparent;
    transition: all 0.25s ease-in-out;
}

.navegacao nav ul li a:hover {
    border-bottom: 3px solid #fff;
} 

section {
    width: 100%;
    min-height: 100vh;
    
}

.sessao1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.sessao1 .conteudo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 80%;
}

.sessao1 .conteudo .cartao {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.sessao1 .conteudo .imagem {
    width: 700px;
    padding: 15px;
}

section .titulo-comandantes {
    display: flex;
    justify-content: center;
    color: #fff;
    padding: 100px;
}

section .comandante-cards {
    display: flex;
    align-items: center;
    justify-content: center;
}

section .comandante-cards .card a img{
    width: 150px;
    padding: 15px;
}